# Git ignore file
*.pdf
*.png
*.doc
*.docx
*.xls
*.xlsx
*.aux
*.log
*.lot
*.ttt
*.out
*.bbl
*.Rhistory
*.html
*.RData
*.rds
*.rda
*.tex
*.fdb_latexmk
*.fls
*.toc
*.lof
*.fff
*.blg
*.bcf
*.rec
*.run.xml
*.zip
*.txt
*~
manuscripts/cache/*
manuscripts/auto/*
.DS_Store
Rmd/.round*
Rmd/*.md.bk
/Rmd/.intro
/Rmd/introduction_cache/*
/Rmd/round1-2018_cache/*
/Rmd/round2-2018_cache/*
/Rmd/round4-2018_cache/*
/Rmd/round5-2018_cache/*
/Rmd/round6-2018_cache/*
/Rmd/round7-2018_cache/*
/Rmd/round8-2018_cache/*
/Rmd/round10-2018_cache/*
/Rmd/round9-2018_cache/*
/Rmd/round11-2018_cache/__packages
/Rmd/round11-2018_cache/stan-model_0e529c0fc9059496ff09a6ed938e46b9.rdb
/Rmd/round11-2018_cache/stan-model_0e529c0fc9059496ff09a6ed938e46b9.rdx
/Rmd/round12-2018_cache/__packages
/Rmd/round12-2018_cache/stan-model_73cde4ed1a879c79fb679087e0e5f49f.rdb
/Rmd/round12-2018_cache/stan-model_73cde4ed1a879c79fb679087e0e5f49f.rdx
/Rmd/round13-2018_cache/__packages
/Rmd/round13-2018_cache/stan-model_b545b04a751386ba145a3918de49a9ce.rdb
/Rmd/round13-2018_cache/stan-model_b545b04a751386ba145a3918de49a9ce.rdx
/Rmd/round14-2018_cache/__packages
/Rmd/round14-2018_cache/stan-model_3e26b1067da8f21dda824859ab84755a.rdb
/Rmd/round14-2018_cache/*
/Rmd/round14-2018_cache/stan-model_3e26b1067da8f21dda824859ab84755a.rdx
/Rmd/round15-2018_cache/*
/Rmd/round15-2018_cache/__packages
