# Git ignore file
*.pdf
*.png
*.doc
*.docx
*.xls
*.xlsx
*.aux
*.log
*.lot
*.ttt
*.out
*.bbl
*.Rhistory
*.html
*.RData
*.rds
*.rda
*.tex
*.fdb_latexmk
*.fls
*.toc
*.lof
*.fff
*.blg
*.bcf
*.rec
*.run.xml
*.zip
*.txt
*~
manuscripts/cache/*
manuscripts/auto/*
.DS_Store
Rmd/.round*
Rmd/*.md.bk
/Rmd/.intro
/Rmd/introduction_cache/*
/Rmd/round1-2018_cache/*
/Rmd/round2-2018_cache/*
/Rmd/round4-2018_cache/*
/Rmd/round5-2018_cache/*
/Rmd/round6-2018_cache/*
/Rmd/round7-2018_cache/*
/Rmd/round8-2018_cache/*
/Rmd/round10-2018_cache/*
/Rmd/round9-2018_cache/*
